.badge {
    background-color: var(--cheesepink);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.red-dot-badge {
    color: tomato;
    font-weight: 600;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 40px;
}