.screen-header {
    padding: var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: bold;
}

.screen-header__icons span {
    margin-left: 25px;
}